In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [4]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

In [6]:
df.sample(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
1027767,1,2024-01-12 22:23:24,2024-01-12 22:33:40,1.0,1.10,1.0,N,107,113,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.00
1642903,2,2024-01-19 15:08:54,2024-01-19 15:23:18,1.0,1.59,1.0,N,162,236,1,14.2,0.0,0.5,3.25,0.0,1.0,21.45,2.5,0.00
1438195,2,2024-01-17 15:55:20,2024-01-17 16:00:33,1.0,1.11,1.0,N,142,239,1,7.9,0.0,0.5,1.00,0.0,1.0,12.90,2.5,0.00
828125,2,2024-01-10 21:43:09,2024-01-10 21:53:33,1.0,2.07,1.0,N,230,237,1,12.8,1.0,0.5,1.50,0.0,1.0,19.30,2.5,0.00
729655,2,2024-01-09 19:06:41,2024-01-09 19:20:42,1.0,4.20,1.0,N,246,151,1,20.5,2.5,0.5,5.40,0.0,1.0,32.40,2.5,0.00
1670682,2,2024-01-19 20:50:06,2024-01-19 20:51:45,1.0,0.54,1.0,N,170,107,1,4.4,1.0,0.5,0.94,0.0,1.0,10.34,2.5,0.00
2299483,2,2024-01-26 14:10:45,2024-01-26 14:24:29,2.0,1.77,1.0,N,163,239,1,13.5,0.0,0.5,3.50,0.0,1.0,21.00,2.5,0.00
2129075,2,2024-01-24 20:19:11,2024-01-24 20:33:30,1.0,2.98,1.0,N,230,238,1,17.0,1.0,0.5,1.10,0.0,1.0,23.10,2.5,0.00
2285975,1,2024-01-26 12:25:28,2024-01-26 12:36:17,2.0,1.50,1.0,N,170,246,1,11.4,2.5,0.5,3.05,0.0,1.0,18.45,2.5,0.00
1669731,2,2024-01-19 20:18:37,2024-01-19 20:36:24,1.0,12.34,1.0,N,138,132,1,45.7,6.0,0.5,10.64,0.0,1.0,65.59,0.0,1.75

In [10]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
count,2.964624e+06,2.824462e+06,2.964624e+06,2.824462e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.824462e+06,2.824462e+06
mean,1.754204e+00,1.339281e+00,3.652169e+00,2.069359e+00,1.660179e+02,1.651167e+02,1.161271e+00,1.817506e+01,1.451598e+00,4.833823e-01,3.335870e+00,5.270212e-01,9.756319e-01,2.680150e+01,2.256122e+00,1.411611e-01
std,4.325902e-01,8.502817e-01,2.254626e+02,9.823219e+00,6.362391e+01,6.931535e+01,5.808686e-01,1.894955e+01,1.804102e+00,1.177600e-01,3.896551e+00,2.128310e+00,2.183645e-01,2.338558e+01,8.232747e-01,4.876239e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-8.990000e+02,-7.500000e+00,-5.000000e-01,-8.000000e+01,-8.000000e+01,-1.000000e+00,-9.000000e+02,-2.500000e+00,-1.750000e+00
25%,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.538000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.680000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.700000e+00,0.000000e+00,1.000000e+00,2.010000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,1.000000e+00,3.110000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.120000e+00,0.000000e+00,1.000000e+00,2.856000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,9.000000e+00,3.127223e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,5.000000e+03,1.425000e+01,4.000000e+00,4.280000e+02,1.159200e+02,1.000000e+00,5.000000e+03,2.500000e+00,1.750000e+00

In [9]:
len(df.columns)

19